@import "tailwindcss";

@theme {
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-dark-900: #111827;
  --color-dark-800: #1f2937;
  --color-dark-700: #374151;
}

body {
    @apply bg-dark-900 text-gray-100 min-h-screen font-sans antialiased;
}
